<!DOCTYPE html>
<%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/header.ejs') %>
    <hr>
    <ul class="nav container">
        <!-- <li class="nav-item">
            <a href="" class="nav-link">How it works</a>
        </li> -->
        <li class="nav-item">
            <a href="/users/signup" class="nav-link navlinks">Signup</a>
        </li>
        <li class="nav-item">
            <a href="/users/login" class="nav-link navlinks">Login</a>
        </li>
        <li class="nav-item">
            <a href="/capabilities" class="nav-link navlinks">Capabilities</a>
        </li>
    </ul>
    <hr>

    <div class="container howTo">
        <h4>How it works</h4>

        <p>Knowledge Management app enables organizations to document SOPs for all their 
            business processes in a simple, secure and sustainaible manner.  
        </p>
        
        <img src="https://i.imgur.com/jxnOPQW.png">
       
        
    </div>

 

</body>
</html>