<!DOCTYPE html>
<%- include('../partials/head.ejs') %>

<body>
    <%- include('../partials/header.ejs') %>
    <hr>
    <ul class="nav container">
        <li class="nav-item">
            <a href="/" class="nav-link">Back</a>
        </li>
    </ul>
    <hr>

    <div class="container">
        <form action="" method="post" class="mb-3">
            <legend>Login</legend>
    
            <label class="form-label"> Username: </label>
            <input type="text" class="form-control" name="username">
    
            <label class="form-label">Password:</label>
            <input type="password" name="password" class="form-control">
            <br>
            <input type="submit" value="Login" class="btn btn-outline-primary">
    
            
        </form>
        <a href="/"><button class="btn btn-outline-danger">Cancel</button></a>
    </div>
    
   
</body>
</html>