<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>

<body>
    <%- include('../partials/header.ejs') %>
<nav>
    <a href="/capabilities/new"> Add capability </a>
</nav>
    <div>
        <% capabilities.forEach((capability)=>{ %>

            <article>
                <h2> Capability - 
                    <a href="/capabilities/<%= capability._id %>">
                        <%= capability.capabilityName %>
                    </a> 
                </h2>
                
            </article>

        <% }) %>
    </div>


</body>

</html>