<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>

<body>
    <%- include('../partials/header.ejs') %>
<hr>
    <ul class="nav">

        <li class="nav-item">
            <a class="nav-link" href="/capabilities">Back</a>
        </li>
       
    </ul>
<hr>
<main>
    <div class="container">
        <form action="/capabilities" method="POST" class="mb-3">
            <fieldset>
                <legend> Add Capability </legend>

                <label class="form-label">
                    Capability name:
                </label>

                <input type="text" name="capabilityName" class="form-control" required>
               
                <br>
                <label class="form-label">
                    Value enabled by this capability:</label>
                    <!-- <input type="text" name="valueEnabled" class="form-control" required> -->
                <textarea name="valueEnabled"  class="form-control" cols="30" rows="10" wrap></textarea>
                
            </fieldset>
            <br>
            <input type="submit" value="Add capability" type="button" class="btn btn-outline-primary">
            
        </form>
        <a href="/capabilities"><button type="button" class="btn btn-outline-danger">Cancel</button></a>
    </div>
</main>

</body>
</html>    
