<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>

<body>
    <%- include('../partials/header.ejs') %>
<hr>
    <ul class="nav">

        <li class="nav-item">
            <a class="nav-link" href="/capabilities">Back</a>
        </li>
       
    </ul>
<hr>
<main>
    <div>
        <form action="/capabilities" method="POST">
            <fieldset>
                <legend> Add Capability </legend>

                <label>
                    Capability name:
                    <input type="text" name="capabilityName" required>
                </label>
                <label>
                    Value enabled by this capability:
                    <input type="text" name="valueEnabled" required>
                </label>
            </fieldset>

            <input type="submit" value="Add capability">
            
        </form>
        <a href="/capabilities"><button>CANCEL</button></a>
    </div>
</main>

</body>
</html>    
